code.snapblocks-blocks:has(.snapblocks) {
    background: none;
}

.snapblocks {
    overflow: auto;
    max-width: 100%;
    max-height: 500px;
    vertical-align: middle;
    user-select: none;
}

.snapblocks-container {
    position: relative;
}

.snapblocks-source {
    display: inline-block;
    width: 1px;
    overflow: hidden;
    opacity: 0;
    height: 1px;
}

.ProseMirror pre.snapblocks-blocks {
    display: block;
    padding: 12px;
    max-height: 500px;
    background: var(--hljs-bg);
    border-radius: var(--d-border-radius);
}

.ProseMirror code.snapblocks-blocks {
    padding: 2px 4px;
    background: var(--inline-code-bg);
    white-space: pre-wrap;
    color: var(--primary);
}
